body {
  background-color: #EAF6F6;
}

hr {
  background-color: #EAF6F6;
  border-style: none;
  height: 2px;
  width: 5%;
  border-top: 5px dotted;
  border-width: 5px;
  border-color: grey;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}
